In [48]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [49]:
import json
import pandas as pd
import numpy as np
import re

In [50]:
l3=[1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0]

In [51]:
def get_labels(file1, file2, file3):
  with open(file1, 'r') as f:
      id, label1 = [], []
      temp1 = json.loads(f.read())
      for key, val in temp1.items():
        id.append(str(key))
        label1.append(val)
      for i in range(len(label1)):
          label1[i] = 1 if label1[i] == "rumour" else 0 #convert_label(label_data["label"][i])
      df1 = pd.DataFrame(label1, columns=['label1'])
      # df_id = pd.DataFrame(id, columns=['id'])
  with open(file2, 'r') as f:
      label2 = []
      temp2 = json.loads(f.read())
      for key, val in temp2.items():
        label2.append(val)
      for i in range(len(label2)):
          label2[i] = 1 if label2[i] == "rumour" else 0 
      df2 = pd.DataFrame(label2, columns=['label2'])
  # df3=pd.DataFrame(l3, columns=['label3'])
  with open(file3, 'r') as f:
      label3 = []
      temp3 = json.loads(f.read())
      for key, val in temp3.items():
        label3.append(val)
      for i in range(len(label3)):
          label3[i] = 1 if label3[i] == "rumour" else 0 
      df3 = pd.DataFrame(label3, columns=['label3'])
  df_label = pd.concat([df1, df2, df3],axis=1)
  return id, df_label

In [52]:
id, df_label = get_labels('/content/drive/My Drive/data/2.json', '/content/drive/My Drive/data/0.833.json', '/content/drive/My Drive/data/0.8123.json')
df_label['Col_sum'] = df_label.apply(lambda x: x.sum(), axis=1)
df_label

     label1  label2  label3  Col_sum
0         1       1       1        3
1         1       1       1        3
2         1       1       1        3
3         0       0       0        0
4         0       0       0        0
..      ...     ...     ...      ...
576       0       0       0        0
577       0       0       0        0
578       1       0       1        2
579       0       0       0        0
580       0       0       0        0

[581 rows x 4 columns]

In [53]:
for i in range(len(df_label.Col_sum)):
  # df_label.Col_sum[i] = "rumour" if df_label.Col_sum[i] >= 2 else "non-rumour"
  if df_label.Col_sum[i] >= 2:
    df_label.Col_sum[i] = "rumour"
  else:
    df_label.Col_sum[i] = "non-rumour"

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [54]:
df_label

     label1  label2  label3     Col_sum
0         1       1       1      rumour
1         1       1       1      rumour
2         1       1       1      rumour
3         0       0       0  non-rumour
4         0       0       0  non-rumour
..      ...     ...     ...         ...
576       0       0       0  non-rumour
577       0       0       0  non-rumour
578       1       0       1      rumour
579       0       0       0  non-rumour
580       0       0       0  non-rumour

[581 rows x 4 columns]

In [55]:
from nltk import collections

dic = collections.OrderedDict()
for i in range(len(id)):
    dic[id[i]] = df_label.Col_sum[i]
with open("test-output.json", 'w') as f:
    json.dump(dic, f)
print("save finished")

save finished